/* layout ************************************ */

/* test ************************* */
.bor-col-1 {
  border: 1px solid red;
}
.bor-col-2 {
  border: 1px solid blue;
}
.bor-col-3 {
  border: 1px solid green;
}
.bor-col-b2 {
  border: 1px solid #b2b2b2;
}
.bor-col-5 {
  border: 1px solid salmon;
}
.bor-col-6 {
  border: 1px solid black;
}
.bor-bottom {
  border-bottom: 1px solid #a0948c;
}

/* flex ************************* */
.flex-center {
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-justify-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-justify-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-wrap {
  /* flex-wrap */
  display: flex;
  flex-wrap: wrap;
}

/* block **************************** */
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}

/*position ************************* */
.position-relative {
  /* relative */
  position: relative;
}
.position-absolute {
  /* absolute */
  position: absolute;
}
/* top */
.position-top0 {
  top: 0;
}
.position-top50 {
  top: 50%;
}
.position-top100 {
  top: 100%;
}
/* left */
.position-left0 {
  left: 0;
}
.position-left50 {
  left: 50%;
}
.position-left100 {
  left: 100%;
}
/* translate */
.translate {
  transform: translate(-50%, -50%);
}
.translateX {
  transform: translateX(-50%);
}
.translateY {
  transform: translateY(-50%);
}


/* margin-bottom ****************** */
.margin-bottom-150 {
  margin-bottom: 150px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}

/* padding ************* */
.padding2 {
  padding: 2vh;
}
.padding2_5 {
  padding: 2.5vh;
}

/* hidden */
.overflow-hidden {
  overflow: hidden;
}

/* opacity */
.opacity-0 {
  opacity: 0;
}

/* transition */
.transition-1s {
  transition: 1s;
}