/* reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  /* color */
  color: #565656;
}
ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}
.inner {
  width: 60vw;
  margin: 0 auto;
}


/* header ******************** */
/* logo */
header {
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}
header h1 {
  height: 8vh;
}
header h1 a {
  height: 32px;
}

/* nav */
nav {
  height: 7vh;
}
nav ul {
  flex: 1;
  justify-self: center;
  height: 100%;
}
nav > ul li ~ li {
  margin-left: 3vw;
}
nav ul li a {
  /* size */
  font-size: 1.1rem;
  text-align: center;
  line-height: 7vh;
  /* display-block */
  display: block;
  transition: .3s;
}
nav ul li a:hover {
  /* hover-color */
  color: #b4846c;
}

/* sub-menu */
#sub-menu-wrap {
  right: 0;
  top: 50%;
}
#sub-menu > li {
  /* img-size */
  width: 20px;
  height: 20px;
  transition: .3s;
  cursor: pointer;
  text-indent: -9999em;
}
#sub-menu > li ~ li {
  margin-left: .8vw;
}
#sub-menu > li span {
  text-indent: -9999em;
}
#sub-menu > li:nth-child(1) {
  background: url(../images/main/mypaeg_icon.png) no-repeat 50% 50%;
}
#sub-menu > li:nth-child(2) {
  background: url(../images/main/basket_icon.png) no-repeat 50% 50%;
}
#sub-menu > li:nth-child(3) {
  background: url(../images/main/search_icon.png) no-repeat 50% 50%;
}
#sub-menu > li:hover:nth-child(1) {
  background: url(../images/main/mypaeg_icon2.png) no-repeat 50% 50%;
}
#sub-menu > li:hover:nth-child(2) {
  background: url(../images/main/basket_icon2.png) no-repeat 50% 50%;
}
#sub-menu > li:hover:nth-child(3) {
  background: url(../images/main/search_icon3.png) no-repeat 50% 50%;
}
/* mypeag */
#my-peag-sub {
  left: 50%;
  top: 3.5vh;
  height: 0;
  display: none;
}
#my-peag-sub li {
  text-indent: 0;
  width: 5vw;
  padding: .5vh .5vw;
  background: rgba(249,249,249,90%);
}
#my-peag-sub li:hover {
  color: #b4846c;
}

/* slider ******************** */
#slider img {
  /* size */
  width: 100VW;
  height: 100vh;
  min-width: 1300PX;
}
#slider #paegs {
  /* position */
  bottom: 2vh;
  left: 50%;
}
#paegs span {
  /* size */
  display: inline-block;
  width: 70px;
  height: 4px;
  border-radius: 2px;
  text-indent: -9999em;
  margin: .2vw;
  transition: .3s;
  /* color */
  background: #b4846c;
}
#paegs span.on,
#paegs span:hover {
  /* color */
  background: #7d4e41;
}


/* introduction ******************** */
/* img */
#introduction div {
  flex: 1;
}
#introduction #img #right {
  margin: 2.5vh 0 0 10vw;
  /* vertical-align: bottom; */
}

/* text */
#introduction #text strong {
  font-size: 2.1rem;
  /* color */
  color: #7d5a50;
}
#introduction #text p {
  font-size: 1.1rem;
  margin-top: 72px;
}


/* Best of Best************* */
#best-bg {
  width: 100vw;
  height: 600px;
  /* bg-img */
  background: url(../images/main/best-bg.jpg) no-repeat;
  min-width: 1300PX;
}

/* title */
#best-bg h2 {
  padding: 40px 0 60px;
}

#best {
  overflow: hidden;
  padding-top: 1.5vh;
}
#best ul {
  width: 128.5vw;
  transition: .5s;
}
#best ul li ~ li {
  margin-left: 8.9vw;
}

/* Contents */
#best ul li a > span,
#new ul li a > span {
  /* circle */
  left: 10px;
  top: 10px;
  /* size */
  width: 55px;
  height: 55px;
  border-radius: 50%;
  /* font */
  font-size: .8rem;
  /* color */
  color: #f2f2f2;
  background: #af6539;
  padding-top: 1.1rem;
}
#best ul li,
#new ul li {
  transition: .5s;
}
#new ul li {
  /* 높이 값이 달라 밑에것들이 따라 올라와서 높이값을 정해줌*/
  height: 402px;
}
/* Best of Best & new hover */
#best ul li:hover,
#new ul li:hover {
  margin-top: -3vh;
}

/* but-paeg */
#but-paeg span {
  top: 45%;
  /* size */
  width: 40px;
  height: 80px;
  cursor: pointer;
}
#but-paeg #prve {
  left: 14vw;
  background: url(../images/main/prev-hover.png) no-repeat;
}
#but-paeg #next {
  right: 14vw;
  background: url(../images/main/next.png) no-repeat;
}


/* event-banner ************* */
#event-banner div {
  width: 28vw;
  height: 13vh;
  cursor: pointer;
  background: #e9e6e1;
  padding: 2vw;
}
#event-banner div > span {
  font-size: .8rem;
  margin-bottom: 30px;
}
#event-banner div p span {
  font-size: 1.5rem;
}


/* instagram *************** */
#instagram-wrap {
  overflow: hidden;
}
#instagram ul {
  width: 121vw;
  margin: 0 auto;
  transition: .5s;
}
#instagram ul li #img::before {
  content: '';
  position: absolute;
  width: 215px;
  height: 215px;
  opacity: 0;
  transition: 1s;
  background: rgba(0,0,0,.7);
}
#instagram ul li:hover #img::before {
  opacity: 1;
}
#instagram ul li {
  position: relative;
  cursor: pointer;
}

/* text */
#instagram ul li #text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: .9rem;
  /* color */
  color: #f2f2f2;
  opacity: 0;
  transition: 1s;
}
#instagram ul li #text span {
  display: inline-block;
  padding-left: 1.2vw;
}
#instagram ul li #text span:nth-child(1) {
  background: url(../images/main/love_icon.png) no-repeat left 3px;
}
#instagram ul li #text span:nth-child(2) {
  margin: 0 0 1vh .5vw;
  background: url(../images/main/레이어\ 11.png) no-repeat left 3px;
}
#instagram ul li:hover #text {
  opacity: 1;
}


/* footer ************ */
footer {
  background: #7b7167;
  min-width: 1300px;
}
#footer-menu ul li ~ li {
  margin-left: 1vw;
}
#footer-menu ul li a {
  display: block;
  color: #f2f2f2;
}

/* address */
#address img {
  margin-bottom: 1vh;
}
#address p {
  color: #f2f2f2;
  font-size: .8rem;
}
#address p ~ p {
  margin-top: .8vh;
}
#Copyright {
  font-size: .7rem;
}
