@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600;700&display=swap');

/* font-family */
body {
  font-family: 'IBM Plex Sans KR', sans-serif;
}
.font-family {
  font-family: 'Gowun Dodum', sans-serif;
}

/* size */
.font-size1_2 {
  font-size: 1.2rem;
}
.font-size2_25 {
  font-size: 2.25rem;
}
.font-size_5 {
  font-size: .5rem;
}
.font-size_8 {
  font-size: .8rem;
}
.font-size_9 {
  font-size: .9rem;
}

/* weight */
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}

/* color */
.font-color-56 {
  color: #565656;
}
.font-color-78 {
  color: #787878;
}
.font-color-28 {
  color: #282828;
}
.font-color-30 {
  color: #303030;
}
.font-color-3c {
  color: #3c3c3c;
}
.font-color-7d {
  color: #7d5a50;
}
.font-color-f2 {
  color: #f2f2f2;
}
.font-color-star {
  color: #e8e82f;
}

/* align */
.text-align-cen {
  text-align: center;
}

/* llne-height */
.line-height1 {
  line-height: 1.6;
}
.line-height2 {
  line-height: 1.7;
}

/* letter-spacing */
.letter-spacing-1em {
  letter-spacing: .1em;
}

.text-indent {
  text-indent: -9999em;
}

.text-line-through {
  text-decoration: line-through;
}